header  {
  text-align: left;
}
header a {
  font-size: 1.3em;
  margin-left: 10%;
  }

header p {
  font-family: roboto;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
  margin-top: -4%;
  position: relative;
  z-index: 2;
  margin-left: 25%;
  margin-right: 25%;
}
header img {
  position: relative;
  z-index: 1;
}

article {
  font-weight: 400;
  line-height: 1.;
  font-size: .95em;
  color: #170F05;
  margin-left: 0;
}
article a:hover {
  color: #361C0A;
}

.subtitle {
  margin-left: 15%;
  Font-family: roboto;
  Font-weight: 900;
  font-size: 2em;
}

hr {
  color: black;
}

#subt {
  margin-left: 5%;
  font-family: maven pro;
  font-weight: 900;
  font-size: 1.9em;
  text-align: center;
  margin-top: -4%;
}

pre {
  background-color: #949494;
  color: #170F05;
  display: inline;
  line-height: 1;
}

nav {
  text-align: center;
  margin-left: 0%
}

.maintext {
  width: 80%;
  float: none;
}

.mainpic {
  display: block;
  margin: 5%;
}