header {
  text-align: center;
}

header a {
  font-family: 'maven pro';
  font-weight: 900;
  text-decoration: none;
  font-size: 3em;
  color: #301909;
  
  
}

span {
  font-size: 1.15em;
}

* {
  background-color: #EFD581;
}

body {
 
  width: 800px;
  height: auto;
  margin: auto;

  padding-top: 5%;
}

.textandpic {
  display: table;
  width: auto;
  height: auto;
  
}

.maintext {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  width: 60%;
  padding-top: 2%;
  text-align: center;
  font-size: 1.3em;
  font-family: 'roboto';
  color: #854518;
  margin-left: 5%;
}

.mainpic img {
  float: right;
  height: auto;
  max-width: 225px;
  margin-right:5%;
  margin-top: 3%;
}

nav {
  margin-left: 20%;
}

nav img {
  height: auto;
  max-width: 40px;
  margin-left: 3%;
  z-index: 2;
  position: relative;
}



p a {
  
  color: #301909;
}

nav a img {
  max-width: 40px;
  height: auto;
}


.footflourish {
  max-width: 800px;
}
.footflourish img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  opacity: 0.5;
  max-width: 105%;
  
}

header img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: ;
  z-index: 1;
  opacity: 0.5;
  max-width: 100%;
}